import 'package:flutter_riverpod/flutter_riverpod.dart';
import 'package:[[.Package]]/core/network/dio_client.dart';
import 'package:[[.Package]]/core/storage/secure_storage_service.dart';

final secureStorageProvider = Provider<SecureStorageService>((ref) {
  return SecureStorageService();
});

final dioClientProvider = Provider<DioClient>((ref) {
  final storage = ref.watch(secureStorageProvider);
  return DioClient(storage: storage);
});
