import { mountSuspended } from "@nuxt/test-utils/runtime"
import { describe, expect, it } from "vitest"
import App from "./app.vue"

describe("App", () => {
  it("shows the application name", async () => {
    const wrapper = await mountSuspended(App)
    expect(wrapper.get("h1").text()).toBe("[[.DisplayName]]")
  })
})
