services:
  postgres:
    image: postgres:16
    ports:
      - "[[.PostgresPort]]:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: [[.DBName]]
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
